/* Styling for Etch-a-Sketch */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
}

.row {
    display: flex;
    align-items: center;
}

.box {
    padding: 5px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

#current {
    border: solid 1px black;
    padding: 1px 10px;
    margin: 4px;
}